body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding-bottom: 60px;
  background-color: #d6cbd3;
}

/*
  mediarule när man krymper.

  */
@media only screen and (max-width:500px) {
  body {
    grid-template-columns: 100%;
  }
}

header {
  grid-column: 1/5;
  grid-row: 1;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: pink;
}

ul {
  list-style-type: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: pink;
  height: 60px;
}

/*****************
Logo
******************/
.logo img {
  margin: 0;
  width: 10%;
  height: 10%;
}

.logo {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width:500px) {
  .logo {
    flex-direction: row-reverse;
  }
}

/*****************
Navigation Links
******************/
nav {
  display: flex;
  grid-column: 2;
  grid-row: 4;
  list-style-type: none;
  padding-right: 1%;
  overflow: hidden;
  background-color: pink;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width:500px) {
  nav {
    flex-direction: row-reverse;
  }
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #FE4AEC;
}

nav a.active {
  background-color: #FE4AEC;
}

/**************

  ***************/
.prodimg {
  padding-left: 1%;
  height: 100%;
  width: 100%;
  margin: 1%, 1%, 1%, 1%;
}

.ovrigt {
  display: grid;
  display: flex;
  grid-row: 2;
  padding: 1% 1% 1% 1%;
  margin-left: 1%;
  border-style: solid;
  border-color: purple;
  border-width: 3px;
  background-color: #f7cac9;
}
}

/*
  MEDIARTULE FÖR ÖVERGRIPANDE FUNKTIONALITET I MOBILLÄGE
  */
@media only screen and (max-width:500px) {
  .ovrigt {
    grid-column: 1;
    grid-row: 1;
  }
}

/*
  product rutor, färdiga, flex plus grid.
  */
.boxes-1 {
  display: grid;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  padding: 1% 1% 1% 1%;
  margin-left: 1%;
  border-style: solid;
  border-color: purple;
  border-width: 3px;
  background-color: #f7cac9;
}

/*
  MEDIARTULE FÖR ÖVERGRIPANDE FUNKTIONALITET I MOBILLÄGE
  */
@media only screen and (max-width:500px) {
  .boxes-1 {
    grid-column: 1;
    grid-row: 3;
  }
}

.boxes-2 {
  display: grid;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  padding: 1% 1% 1% 1%;
  border-style: solid;
  border-color: purple;
  border-width: 3px;
  background-color: #f7cac9;
}

/*
  MEDIARTULE FÖR ÖVERGRIPANDE FUNKTIONALITET I MOBILLÄGE
  */
@media only screen and (max-width:500px) {
  .boxes-2 {
    grid-column: 1;
    grid-row: 4;
  }
}

.boxes-3 {
  display: grid;
  display: flex;
  grid-column: 3;
  grid-row: 2;
  padding: 1% 1% 1% 1%;
  border-style: solid;
  border-color: purple;
  border-width: 3px;
  background-color: #f7cac9;
}

/*
  MEDIARTULE FÖR ÖVERGRIPANDE FUNKTIONALITET I MOBILLÄGE
  */
@media only screen and (max-width:500px) {
  .boxes-3 {
    grid-column: 1;
    grid-row: 5;
  }
}

/*
  CSS för pricetag
  */
.pricetag {
  position: absolute;
  float: right;
  color: black;
  font-weight: bold;
  border-radius: 10%;
  background-color: yellow;
  text-align: center;
  padding: 3px 3px 3px 3px;
  margin-left: 10px;
  margin-top: 4px;
}

/*
  all css för kontakt föjer nedan förutom header, footer + logga.
  */
.specificItemInfo {
  border-style: solid;
  border-color: purple;
  background-color: #f7cac9;
}

/***************
Contact page
****************/
/***************
Ronja contact
****************/
.contact-box-Ronja {
  position: relative;
  height: 600px;
  width: 1000px;
  grid-column: 1;
  grid-row: 2;
  padding: 0px;
  border-style: solid;
  border-color: purple;
  border-width: 3px;
  background-color: #f7cac9;
}

/*
  MEDIARTULE FÖR ÖVERGRIPANDE FUNKTIONALITET I MOBILLÄGE
  */
@media only screen and (max-width:900px) {
  .contact-box-Ronja {
    height: 400px;
    width: 550px;
    grid-column: 1;
    grid-row: 2;
  }
}

.contactimg-Ronja {
  height: 600px;
  width: 500px;
  float: left;
}

@media only screen and (max-width:900px) {
  .contactimg-Ronja {
    height: 400px;
    width: 300px;
    grid-column: 1;
    grid-row: 2;
  }
}

.contact-box-Ronja h2 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 0px;
  left: 10px;
  position: relative;
}

.contact-box-Ronja h3 {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  left: 10px;
  position: relative;
}

.contact-box-Ronja h4 {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  left: 10px;
  position: relative;
  bottom: -200px;
}

.contact-box-Ronja li {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  left: 10px;
  position: relative;
  bottom: -200px;
}

.clear {
  clear: both;
}

/****************
Oscar contact
****************/
.contact-box-Oscar {
  position: relative;
  height: 600px;
  width: 1000px;
  grid-column: 1;
  grid-row: 3;
  padding: 0px;
  border-style: solid;
  border-color: purple;
  border-width: 3px;
  background-color: #f7cac9;
}

/*
  MEDIARTULE FÖR ÖVERGRIPANDE FUNKTIONALITET I MOBILLÄGE
  */
@media only screen and (max-width:900px) {
  .contact-box-Oscar {
    height: 400px;
    width: 550px;
    grid-column: 1;
    grid-row: 3;
  }
}

.contactimg-Oscar {
  height: 600px;
  width: 500px;
  float: left;
}

@media only screen and (max-width:900px) {
  .contactimg-Oscar {
    height: 400px;
    width: 300px;
    grid-column: 1;
    grid-row: 2;
  }
}

.contact-box-Oscar h2 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 0px;
  left: 10px;
  position: relative;
}

.contact-box-Oscar h3 {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  left: 10px;
  position: relative;
}

.contact-box-Oscar h4 {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  left: 10px;
  position: relative;
  bottom: -200px;
}

.contact-box-Oscar li {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  left: 10px;
  position: relative;
  bottom: -200px;
}
