body {
  background-color: rgb(203, 194, 239);
}

.logo {
  height: 10%;
  width: 10%;
}

@media only screen and (max-width:500px) {
  .logo {
    padding-left: 70%;
    height: 20%;
    width: 20%;
  }
}

header {
  height: 100%;
  width: 100%;
  background: pink;
}

*, html {
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: pink;
  height: 10%;
}

.insidebig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  width: 60%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 10%;
  margin-bottom: 10%;
}

.insideinsidebig {
  float: left;
  background-color: red;
  margin-left: 3%;
  border-radius: 3px;
  border-style: solid;
  border-color: green;
  text-align: center;
  color: white;
  background-color: grey;
}

/*****************
Navigation Links
******************/
nav {
  list-style-type: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

nav li {
  float: left;
}

nav li.right {
  float: right;
}

@media only screen and (max-width:500px) {
  nav li.right {
    float: left;
  }
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #FE4AEC;
}

nav li a.active {
  background-color: #FE4AEC;
}

/**************

  ***************/
.prodimg {
  height: 40%;
  width: 40%;
}

.ovrigt {
  border-style: solid;
  border-color: green;
  border-width: 3px;
  margin-left: 65%;
}
