/*when small logo !false margin-left:89%;
*/
.logo {
  height: 10%;
  width: 10%;
}

.header {
  height: 100%;
  width: 100%;
  background: pink;
}

*, html {
  margin: 0;
  padding: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: pink;
  height: 10%;
}

.insidebig {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  width: 60%;
  background-color: grey;
}

.insideinsidebig {
  background-color: red;
  margin-left: 3%;
  border-radius: 3px;
  text-align: center;
  border-style: solid;
  border-color: green;
  height: 7000px;
}

ul {
  list-style-type: none;
}

.active {
  background-color: #FE4AEC;
}

.topMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

.topMenu ul {
  list-style-type: none;
}

.topMenu li {
  float: left;
}

.topMenu li.right {
  float: right;
}

.topMenu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topMenu li a:hover {
  background-color: #FE4AEC;
}

@media screen and (max-width: 600px) {

  ul.topMenu li.right,
  ul.topMenu li {
    float: none;
  }

  .logo {
    margin-left: 90%;
  }
}
